/* 
.footer {
    border-top: 1px solid #cccaca; 
    color: #202020;
    padding: 30px 40px;
    margin-top: auto; 
    text-align: center; 
}

border-top-1 p-30 mt-auto text-center */


.footerNav {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center; 
    gap: 30px; 
}

.footerLink {
    text-decoration: none;
    /* color: #1f1e1e; */
    font-size: 14px;
    transition: color 0.3s;
}

.footerLink:hover {
    color: #535252; 
}

/* .copyright {
    font-size: 7px !important;
    color: #888;
    margin-top: 15px;
    text-align: center;
    width:auto;
} */