/* .header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 40px;
    border-bottom: 1px solid #eee;
  } */
  
  .logo {
    font-family: "Italiana", sans-serif;
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
    /* color: #333; */
  }
  
  
  /* .navbarContainer {
    flex-basis: 60%; 
    text-align: center;
  } */
  
  
  .iconoDeCarrito {
    cursor: pointer;
    svg{
      width: 32px;
      height: 32px;
    }
  }
  
  .contadorDeCarrito {
    position: absolute;
    top: -8px; 
    right: -10px; 
    background-color: rgb(11, 11, 11);
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
  }
  
  .icono {
    font-size: 24px;
    cursor: pointer;
    margin: 0;
  }
  
  .login {
    font-family: "Forum", serif;
    font-size: 14px;
    border: none;
    background-color: transparent;
    outline: none;
    text-decoration: none;
    margin: 5px 20px  0px;
  }

/* Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint 
#custom-class {
  display: none;
}

@media (min-width: 750px) and (max-width: 1250) {
  #custom-class {
    display: block;
  }
} 
*/