/* .container {
  display: flex;
  max-width: 80vw;
} */

.imagen {
  height: 350px;
  width: 90%;
  margin: 20px;
}

.botonAgregarProducto {
  font-weight: 600;
  font-stretch: extra-condensed;
  background-color: rgb(255 210 125);
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 22px;
}

.productoItem {
  border: 1px solid gray; 
  cursor: pointer; 
  border-color:rgb(201, 201, 201); 
  display: flex;
  flex: 1;
  min-width: 370px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}


/* .imgcontainer{
  position: relative;
} */

.colcontainer{
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

a{
  text-decoration: none;
  color: inherit;
}


h2,p{
  margin: 0;
}

.ripleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

